<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Justice SWEague</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
		<nav class="navbar navbar-default" role = "navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Justic SWEague</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
					<li><a href="#">About</a></li>
				</ul>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Characters</a></li>
						<li><a href="#">Comics</a></li>
						<li><a href="#">Creators</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


	<div class = "container">
		<div class = "row">
			<h1>Justice SWEague</h1>
		</div>
		<div class = "row">
			<h3>Members</h3>
		</div>
		<div class = "row">
			<div class = "table-responsive">
				<table class = "table table-bordered">
					<thead>
						<tr>
							<th class="col-xs-1">Name</th>
							<th class="col-xs-2">Photo</th>
							<th class="col-xs-3">Bio</th>
							<th class="col-xs-3">Major Responsibilities</th>
							<th class="col-xs-1"># of Commits</th>
							<th class="col-xs-1"># of Issues</th>
							<th class="col-xs-1"># of Unit Tests</th>
						</tr>
						<tr>
							<td>Nick Roberts</td>
							<td><img src="NickPhoto.jpg" height="180" width="180" class="img-thumbnail"></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Leslie Rice</td>
							<td><img src="https://avatars1.githubusercontent.com/u/10469642?v=3&s=460" height="180" width="180" class="img-thumbnail"></td>
							<td>I'm a senior CS and mathematics double major at the University of Texas at Austin. I've lived in Austin for almost
								all of my life -- still not tired of it. This semester I'm a TA for the operating systems class. I've enjoyed working on
								data science and web dev projects in the past.
							</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Nathan Hotz</td>
							<td><img src="NickPhoto.jpg" height="180" width="180" class="img-thumbnail"></td>
							<td>Despite that I dislike hot weather, I was born an Austinite. I attended Patton Elementary, Clint Small Middle School, and S. F. Austin High School. I was a member of Boy Scout Troop 448, in which I achieved Eagle Rank. My eagle project was to design and build a rainwater collection system for Clint Small Middle school. While in middle and early high school, I passed time by creating games on the RPG Maker 2000. I began experimenting with C++ in my late high school years before attending the University of Texas at Austin.</td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Danny Chen</td>
							<td><img src="NickPhoto.jpg" height="180" width="180" class="img-thumbnail"></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Ben Holder</td>
							<td><img src="NickPhoto.jpg" height="180" width="180" class="img-thumbnail"></td>
							<td></td>
							<td></td>
							<td>0</td>
							<td>0</td>
							<td>0</td>
						</tr>
				</table>
			</div>
		</div>

		<div class = "row">
			<h3>Stats</h3>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>Total # of Commits</h4>
			</div>
			<div class = "col-xs-7">
				<h5>0</h5>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>Total # of Issues</h4>
			</div>
			<div class = "col-xs-7">
				<h5>0</h5>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>Total # of Unit Tests</h4>
			</div>
			<div class = "col-xs-7">
				<h5>0</h5>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>Apiary API</h4>
			</div>
			<div class = "col-xs-7">
				<a href="http://docs.srsbusiness.apiary.io/#">http://docs.srsbusiness.apiary.io/#</a>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>GitHub Issue Tracker</h4>
			</div>
			<div class = "col-xs-7">
				<a href="https://github.com/nickroberts404/cs373-idb/issues">https://github.com/nickroberts404/cs373-idb/issues</a>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>GitHub Repo</h4>
			</div>
			<div class = "col-xs-7">
				<a href="https://github.com/nickroberts404/cs373-idb">https://github.com/nickroberts404/cs373-idb</a>
			</div>
		</div>
		<div class = "row">
			<div class = "col-xs-5">
				<h4>GitHub Wiki</h4>
			</div>
			<div class = "col-xs-7">
				<a href="https://github.com/nickroberts404/cs373-idb/wiki">https://github.com/nickroberts404/cs373-idb/wiki</a>
			</div>
		</div>

		<div class = "row">
			<h3>Data</h3>
		</div>
		<div class = "row">
			<div class = "table-responsive">
				<table class = "table table-bordered">
					<thead>
						<tr>
							<th class="col-xs-3">Source</th>
							<th class="col-xs-9">Scraping Process</th>
						</tr>
						<tr>
							<td><a href="http://developer.marvel.com/">VERIFY THIS LINK IS CORRECT</a></td>
							<td>DUMMY TEXT</td>
						</tr>
						<tr>
							<td><a href="http://developer.marvel.com/documentation/entity_types">VERIFY THIS LINK IS CORRECT</a></td>
							<td>DUMMY TEXT</td>
						</tr>
					</thead>
				</table>
			</div>
		</div>

		<div class = "row">
			<h3>Tools</h3>
		</div>
		<div class = "row">
			<div class = "col-xs-12">
				<h4>DUMMY TEXT</h4>
			</div>
		</div>

		<br>
		<br>
		<br>
	</div>

</body>
</html>
