<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Justice SWEague</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='dist/styles.css') }}">
	<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="app"></div>
	<script src="{{ url_for('static', filename='dist/app.js') }}"></script>
</body>
</html>